fastapi
uvicorn[standard]
pydantic
pydantic-settings
email-validator
sqlmodel
alembic
psycopg[binary]
passlib
python-jose[cryptography]
bcrypt==4.0.1
python-multipart
pandas
openpyxl
requests
beautifulsoup4
